<div class="col-md-2 col-md-push-10 menu">
	<div class="row">
		<div class="form-group col-xs-8 col-md-12">
			<label for="NecklaceText">Tekst</label>
			<input type="text" 
				   class="form-control"
				   ng-keydown="ctrl.removeBeads($event)"
				   ng-keypress="ctrl.addBead($event)"
				   ng-model="ctrl.necklaceText"
				   ng-trim="false"
				   ng-paste="ctrl.preventPaste($event)"
				   id="NecklaceText" />
		</div>
		<div class="form-group col-xs-4 col-md-12">
			<label for="LaceType">Veter type</label>
			<select class="form-control" 
					ng-model="ctrl.laceType" 
					ng-options="lace as lace.type for lace in ctrl.getLaces() track by lace.variationId"
					ng-change="ctrl.updatePrices()">
				<option value="">geen veter</option>
			</select>
		</div>
		<div class="form-group col-md-12 hidden-xs hidden-sm">
			<div class="form-horizontal prices">
				<div class="form-group">
					<label class="control-label col-md-8">{{ctrl.amounts.lace}}&nbsp;Veter:</label>
					<div class="col-md-4 price">€&nbsp;{{ctrl.prices.lace}}</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-8">{{ctrl.amounts.letterBeads}}&nbsp;letter kralen:</label>
					<div class="col-md-4 price">€&nbsp;{{ctrl.prices.letterBeads}}</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-8">{{ctrl.amounts.spacerBeadsSmall}}&nbsp;kleine kralen:</label>
					<div class="col-md-4 price">€&nbsp;{{ctrl.prices.spacerBeadsSmall}}</div>
				</div>
				<!--<div class="form-group">
					<label class="control-label col-md-8">{{ctrl.amounts.spacerBeadsBig}}&nbsp;tussen kralen (groot):</label>
					<div class="col-md-4 price">€&nbsp;{{ctrl.prices.spacerBeadsBig}}</div>
				</div>-->
				<div class="form-group line">
				</div>
				<div class="form-group total">
					<label class="control-label col-md-8">Totaal:</label>
					<div class="col-md-4 price">€&nbsp;{{ctrl.prices.total}}</div>
				</div>
			</div>
		</div>
		<div class="form-group total hidden-md hidden-lg col-xs-4">
			<label class="control-label col-xs-5">Prijs:</label>
			<div class="col-xs-7 price">€&nbsp;{{ctrl.prices.total}}</div>
		</div>
		<div class="form-group spelling col-xs-4 col-md-12">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="ctrl.confirm" mdb-checkbox />Spelling correct</label>
			</div>
			<div ng-show="!ctrl.confirm && ctrl.displayError" class="confirm-error">U moet de spelling bevestigen</div>
		</div>
		<div class="form-group col-xs-4 col-md-12 order">
			<button class="btn btn-primary col-xs-12" ng-click="ctrl.addToCart(ctrl.confirm)">
				<span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Bestel
			</button>
		</div>
	</div>
</div>
<div class="col-md-10 col-md-pull-2 main">
	<mdb-color-selector template-url="/templates/mdbColorSelector.html"
						ng-show="ctrl.selectedBead">
	</mdb-color-selector>
	<div class="necklace">
		<mdb-bead bead="bead"
					ng-repeat="bead in ctrl.necklace">
		</mdb-bead>
	</div>
</div>