<div>
	<div class="color-selector-title">
		Selecteer een kleur
		<span class="fa fa-close pull-right"></span>
	</div>
	<div class="color-selector-content">
		<div class="size-select" ng-if="::bead.type === 'spacer'">
			<div class="checkbox">
				<label><input type="checkbox" mdb-checkbox ng-model="bead.size" ng-true-value="'big'" ng-false-value="'small'" ng-change="ctrl.updatePrices(ctrl.necklace)" />Groot</label>
			</div>
		</div>
		<div class="bead-thumbnail-wrapper"
			 ng-class="{ 'current': bead.color === colorLine.color}"
			 ng-repeat="colorLine in colorLines track by colorLine.color">
			<img class="bead-thumbnail"
				 ng-src="{{::colorLine.imageUrl}}"
				 title="{{::colorLine.color}}"
				 alt="{{::colorLine.color}}_{{::colorLine.letter}}"
				 ng-click="setColor(colorLine.color)" />
		</div>
	</div>
</div>