input[mdb-checkbox],
input[mdb-radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  background-color: transparent;
  margin-top: 0;
}
input[mdb-checkbox]:checked + .mdb-control-label,
input[mdb-radio]:checked + .mdb-control-label,
input[mdb-checkbox]:hover + .mdb-control-label,
input[mdb-radio]:hover + .mdb-control-label {
  display: inline-block;
}
input[mdb-checkbox]:hover:not(:checked) + .mdb-control-label,
input[mdb-radio]:hover:not(:checked) + .mdb-control-label {
  opacity: 0.4;
}
input[mdb-checkbox]:focus,
input[mdb-radio]:focus {
  outline: none;
}
input[mdb-radio],
input[mdb-radio] + .mdb-control-label {
  border-radius: 50%;
}
input + .mdb-control-label {
  min-height: unset;
  padding: 0;
}
.mdb-control-label {
  display: none;
  width: 6px;
  height: 6px;
  background-color: black;
  position: absolute;
  top: 4px;
  left: 4px;
  pointer-events: none;
  cursor: pointer;
}