mdb-color-selector-window {
  display: block;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  min-height: 20px;
  min-width: 20px;
}
.color-selector-title {
  border-bottom: 1px solid black;
  min-height: 20px;
  text-align: center;
  padding: 3px 5px;
}
.color-selector-title .fa-close {
  margin-top: 3px;
}
.color-selector-content {
  min-height: 20px;
}